<div class="errors">
        	<% if book.errors.any? %>
          		<h3><%= pluralize(book.errors.count,"error") %> prohibited this obj from being saved:</h3>
          		<ul style="margin-left: 30px">
          		<% book.errors.full_messages.each do |message| %>
           			<li style="font-size: 15px;"><%= message %></li>
          		<% end %>
          		</ul>
        	<% end %>
</div>